rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /planningFiles/{allPaths=**} {
      allow read, write: if true;
    }
    match /launchPopups/{allPaths=**} {
      allow read, write: if true;
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
